@import "tailwindcss";

/* =========================
   PALETA SERVIPARAMO (NUEVA)
========================= */

@theme {
  --color-sp-primary: #066aab;
  --color-sp-primary-dark: #055990;

  --color-sp-green: #2ecc71;
  --color-sp-green-dark: #27ae60;

  --color-sp-bg: #f8fbff;
  --color-sp-white: #ffffff;

  --color-sp-text: #0f1c2e;
  --color-sp-border: #e2e8f0;
}

/* =========================
   BASE
========================= */

body {
  background: var(--color-sp-bg);
  color: var(--color-sp-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
}